* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --indigo: #3D348B;
  --lavande: #7678ED;
  --jaune: #F7B801;
  --orange: #F18701;
  --rouge: #F35B04;
  --blanc: #ffffff;
  --gris: #f5f5f5;
  --texte: #333;
}


body {
  font-family: system-ui, sans-serif;
  background: var(--gris);
  color: var(--texte);
  line-height: 1.5;
}
.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 0 16px;
}

header {
  background: var(--blanc);
  box-shadow: 0 4px 10px rgba(0,0,0,0.06);
  padding: 10px 20px;
  margin-bottom: 20px;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logo img {
  width: auto;
  height: 70px;
  border-radius: 6px;
}
.main-nav ul {
  list-style: none;
  display: flex;
  gap: 16px;
}
.main-nav a {
  text-decoration: none;
  color: var(--texte);
  font-weight: 600;
  padding: 19px 29px;
  border-radius: 6px;
}
.main-nav a:hover {
  background: var(--lavande);
  color: var(--blanc);
}

.page-header {
  margin-bottom: 20px;
}
.h1 {
  font-size: 26px;
  font-weight: 700;
  color: var(--indigo);
}

/* ----- CARTES ----- */
.card {
  background: var(--blanc);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}




/* ----- FORMULAIRES ----- */
form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.label {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
}
.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 15px;
  
}

textarea{
  resize: block;
}

.centrer{
  display: flex;
  justify-content: center;
}

input[type="submit"]{
  background-color: var(--orange);
  width: 10rem;
  height: 3rem;
  border-radius: 5px;
  color: white;
  font-size: 1.1rem;

}

.input:focus {
  border-color: var(--lavande);
  outline: none;
  box-shadow: 0 0 0 3px rgba(118, 120, 237, 0.2);
}
textarea.input {
  resize: vertical;
}

/* ----- BOUTONS ----- */
.btn {
  display: inline-block;
  padding: 10px 18px;
  font-weight: 600;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.btn-primary {
  background: var(--lavande);
  color: var(--blanc);
  border: none;
}
.btn-primary:hover {
  background: var(--indigo);
}
.btn-ghost {
  background: transparent;
  color: var(--texte);
  border: 1px solid #ddd;
}
.btn-ghost:hover {
  background: var(--gris);
}

/* ----- FORM ACTIONS ----- */
.form-actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}
